.wishlist {
    padding-top: 3%;
    padding-bottom: 3%;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: repeat;
    background-image: url("https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjkwNC1udW5ueS0wMTAtZl8xLmpwZw.jpg");

    img {
        width: 40%;
        height: auto;
        border-radius: 50%;
        text-align: center;
        display: flex;
        margin: auto;
    }

    h3 {
        margin-top: 1%;
        text-align: center;
        font-size: 2.8rem;
        color: black;
    }

    span {
        display: block;
        text-align: center;
        font-size: 1.3rem;
        font-weight: 500;
        color: black;
    }

    @media (min-width: 320px) and (max-width: 426px) {
        span {
            font-size: 0.9rem;
        }
    }

    @media (min-width: 320px) and (max-width: 426px) {
        h3 {
            font-size: 2rem;
        }
    }
}
