.navbar-nav {

    .nav-item {
        display: flex;

        @media (min-width: 991px) and (max-width: 1090px) {
            .react-icon {
                width: 40px;
                height: auto;
                position: relative;
            }
            span {
                font-size: 1.5rem;
                font-weight: bolder;
            }
            .second{
                display: none;
            }
            .amigos-cart{
                position: relative;
                left: 76%;
            }
        }
    }

    .div-icons {
        margin: 10px;
    }

    .button-buys:hover {
        transition: 5s;
        color: red;
    }

    .wishlist-favoritos {
        text-decoration: none;
        color: yellow;
    }

    .wishlist-favoritos:hover {
        color: red;
        transition: 0.5s;
    }

    .carrito-navbar {
        color: yellow;
        font-size: 2.6rem;
    }

    .carrito-contador {
        color: red;
        font-size: 1.5rem;
    }

    .wishlist-logout:hover {
        transition: 0.5s;
        color: red;
    }

    .carrito-navbar:hover {
        transition: 0.5s;
        color: red;
    }

    p {
        color: white;
    }


}