.navbar-nav {

    .nav-item {
        display: flex;
    }

    .div-icons{
        margin: 10px;
    }

    .button-buys:hover {
        transition: 5s;
        color: red;
    }

    .wishlist-favoritos {
        text-decoration: none;
        color: yellow;
    }

    .wishlist-favoritos:hover {
        color: red;
        transition: 0.5s;
    }

    .carrito-navbar {
        color: yellow;
        font-size: 2.6rem;
    }

    .carrito-contador {
        color: red;
        font-size: 1.5rem;
    }

    .wishlist-logout:hover {
        transition: 0.5s;
        color: red;
    }

    .carrito-navbar:hover{
        transition: 0.5s;
        color: red;
    }

    p {
        color: white;
    }

    
}