* {
    list-style: none;
}

header {

    .container-fluid {

        .collapse {

            .primer-ul {
                margin-left: 20%;

                .nav-item {
                    margin-left: 6%;

                    .nav-link {
                        color: red;
                        font-size: 1.8rem;
                    }

                    .nav-link:hover {
                        color: yellow;
                    }

                }

                @media (min-width: 1101px) and (max-width: 1333px) {
                    position: relative;
                    right: 15%;
                }
            }
        }

        .pokemon-logo {
            width: 200px;
            height: 80px;
        }

        .pokemon-logo-blanco {
            position: absolute;
            margin-left: 16px;
            width: auto;
            height: 80px;
        }

        .pokemon-logo-blanco-dos {
            position: relative;
            margin-right: 16px;
            width: auto;
            height: 80px;
        }

        @media (max-width: 1279px) {
            .pokemon-logo-blanco {
                display: none;
            }
        }
        
        @media (max-width: 1500px){
            .pokemon-logo-blanco-dos {
                display: none;
            }
            
        }

        @media (min-width: 500px) and (max-width: 990px) {
            .pokemon-logo-blanco {
                display: inline;
            }

            .pokemon-logo-blanco-dos {
                display: inline;
            }
        }


        @media (max-width: 1100px) {
            .collapse {
                .primer-ul {
                    margin-left: 0;
                }
            }
        }

    }
}